@model IEnumerable<StudentManagement21A2.Models.Rent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopyCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_od)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_do)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopyCar.Nr_rej)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_od)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_do)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_wynajmu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_wynajmu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_wynajmu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
